<div class="uk-height-viewport uk-text-center uk-vertical-align loginRegisterWrapper">

    <div id="registrationContainer" class="uk-vertical-align-middle">

        <h1 class="loginRegisterHeader">Register</h1>

        <div class="uk-container loginRegisterFormContainer">

            <form class="uk-form" action="/register" method="post" role="form" id="registrationForm">
                <div class="uk-form-row uk-margin-large-top">
                    <!--<label class="uk-form-label" for="form-input-1"></label>-->
                    <div class="uk-form-controls">
                        <input style="width: 300px;" class="uk-form-large uk-text-center {{#if firstNameError}}uk-form-danger{{/if}}" type="text" name="registerFirstName" id="registerFirstName" placeholder="First Name" value="{{registerFirstName}}">
                    </div>
                    {{>error_text_alert firstNameError}}
                </div>
                <div class="uk-form-row">
                    <!--<label class="uk-form-label" for="form-input-1"></label>-->
                    <div class="uk-form-controls">
                        <input style="width: 300px;" class="uk-form-large uk-text-center {{#if lastNameError}}uk-form-danger{{/if}}" type="text" name="registerLastName" id="registerLastName" placeholder="Last Name" value="{{registerLastName}}">
                    </div>
                    {{>error_text_alert lastNameError}}
                </div>
                <div class="uk-form-row">
                    <!--<label class="uk-form-label" for="form-input-1"></label>-->
                    <div class="uk-form-controls">
                        <input style="width: 300px;" class="uk-form-large uk-text-center {{#if emailError}}uk-form-danger{{/if}}" type="email" name="registerEmail" id="registerEmail" placeholder="E-mail" value="{{registerEmail}}">
                    </div>
                    {{>error_text_alert emailError}}
                </div>
                <div class="uk-form-row">
                    <!--<label class="uk-form-label" for="form-input-1"></label>-->
                    <div class="uk-form-controls">
                        <input style="width: 300px;" class="uk-form-large uk-text-center {{#if usernameError}}uk-form-danger{{/if}}" type="text" name="registerUsername" id="registerUsername" placeholder="Username" value="{{registerUsername}}">
                    </div>
                    {{>error_text_alert usernameError}}
                </div>
                <div class="uk-form-row">
                    <!--<label class="uk-form-label" for="form-input-1"></label>-->
                    <div class="uk-form-controls">
                        <input style="width: 300px;" class="uk-form-large uk-text-center {{#if passwordError}}uk-form-danger{{/if}}" type="password" name="registerPassword" id="registerPassword" placeholder="Password" value="{{registerPassword}}">
                    </div>
                    {{>error_text_alert passwordError}}
                </div>
                <div class="uk-form-row">
                    <!--<label class="uk-form-label" for="form-input-1"></label>-->
                    <div class="uk-form-controls">
                        <input style="width: 300px;" class="uk-form-large uk-text-center {{#if password2Error}}uk-form-danger{{/if}}" type="password" name="registerPassword2" id="registerPassword2" placeholder="Confirm Password" value="{{registerPassword2}}">
                    </div>
                    {{>error_text_alert password2Error}}
                </div>
                <button class="uk-button uk-button uk-button-large uk-width-1-1 uk-button-primary uk-margin-large-top uk-margin-large-bottom" type="submit" data-uk-button>Register</button>
            </form>

        </div>
    </div>
</div>
